.pantalla{
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoTitle{
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 40px;
}

.btn{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 3px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3e8e41;
    color: white;
  }