#notification {
  color     : #33658a;
  text-align: end;
  height    : fit-content;
}

#userName {
  color: #ffbd77;
}

#messageTab {
  box-shadow: 1.5px 1px 1px rgb(22, 44, 61);
  height    : fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F4858;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33658A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 102, 138)
}